asgiref
Django==4.0.2
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
backports.zoneinfo;python_version<"3.9"
gunicorn==23.0.0
sqlparse
python-dotenv
psycopg2
django-heroku
whitenoise==6.7.0
jinja2
django_user_agents
rest_framework


